<div class="titulo">
    <br>
    <h3>Ingreso de nuevos funcionarios</h3>
    <br>
</div>

<div class="formularioing">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre completo: </span>
        <input type="text" class="form-control" placeholder="Nombre del funcionario" name="nombre" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Dirección: </span>
        <input type="text" class="form-control" placeholder="Dirección del funcionario" name="direccion" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Correo electrónico: </span>
        <input type="text" class="form-control" placeholder="Correo electrónico" name="mail" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Telefono: </span>
        <input type="text" class="form-control" placeholder="Telefono" name="telefono" aria-label="Username" aria-describedby="basic-addon1">

        <span class="input-group-text">Fecha de nacimiento: </span>
        <input type="text" class="form-control" placeholder="Fecha de Nac (dd/mm/aaaa)" name="fechaNac" aria-label="Username" aria-describedby="basic-addon1">

        <span class="input-group-text">Fecha de ingreso: </span>
        <input type="text" class="form-control" placeholder="Fecha Ingreso (dd/mm/aaaa)" name="fechaIng" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">URL de la imagen: </span>
        <input type="text" class="form-control" placeholder="URL de la imagen" name="imagen" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="submit">
        <br>
        <button type="button" class="btn btn-outline-success">Guardar funcionario</button>
    </div>
</div>