<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<div class="headmenu">
  <img src="./assets/img/Logo.jpg" width="5%" height="5%">

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'/farmacia'">Farmacia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item" *ngFor="let itemsmenu of menu">
            <a class="{{itemsmenu.class}}" [routerLink]="itemsmenu.enlace">{{itemsmenu.nombre}}</a>
          </li>

        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit">Log In</button>
          <button class="btn btn-outline-success" type="submit">Log out</button>
        </form>
      </div>
    </div>
  </nav>
  
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<br><br>

<footer class="footer mt-auto py-3 bg-dark-light" style="background-color: #e3f2fd;">
  <div class="container">
    <span class="text-muted">- Farmacia - Proyecto final by Cecilia Perdomo</span>
  </div>
</footer>
